<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:show id="ps_challenges_domain_Goal" object="${goal}" path="/goals" z="SMuuhx6CHYX8n1Cqo0tcaZYBJxs=">
        <field:display field="title" id="s_challenges_domain_Goal_title" object="${goal}" z="URd5sxlmM6eQXqFv5Fr77YFmWgA="/>
        <field:display field="description" id="s_challenges_domain_Goal_description" object="${goal}" z="xn+fRCAq1B9pYY/jlSwJcURwIUQ="/>
        <field:display date="true" dateTimePattern="${goal_deadline_date_format}" field="deadline" id="s_challenges_domain_Goal_deadline" object="${goal}" z="kz5CdyvDONDID3gZKdS65c+8mIM="/>
        <field:display field="metric" id="s_challenges_domain_Goal_metric" object="${goal}" z="fa0ZcwwJKVDuwRND3686U+LeH6E="/>
        <field:display field="challenge" id="s_challenges_domain_Goal_challenge" object="${goal}" z="cuV+WX4h/PdturUpFKzhlFLn3kk="/>
    </page:show>
</div>
