<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_challenges_domain_Challenger" modelAttribute="challenger" path="/challengers" render="${empty dependencies}" z="CQWTIDn1sl5OgiFX+7E0iFvIw30=">
        <field:input field="email" id="c_challenges_domain_Challenger_email" required="true" validationMessageCode="field_invalid_email" validationRegex="^([0-9a-zA-Z]([-.\\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\\w]*[0-9a-zA-Z]\\.)+[a-zA-Z]{2,9})$" z="pM9FxGb9qrDdMfa2dlyLGEoisZY="/>
        <field:input field="password" id="c_challenges_domain_Challenger_password" min="6" required="true" z="E5gODPJi6Tzdn43+vbhQdLtm3pU="/>
        <field:simple field="owned_challenges" id="c_challenges_domain_Challenger_owned_challenges" messageCode="entity_reference_not_managed" messageCodeAttribute="Challenge" z="8Gq5mNSz8EiHMojUi76QxVxudzU="/>
        <field:select field="challenges" id="c_challenges_domain_Challenger_challenges" itemValue="id" items="${challenges}" multiple="true" path="/challenges" z="jqHhOzNBsfrAxmIbaQTKYgEsfJk="/>
        <field:simple field="goals" id="c_challenges_domain_Challenger_goals" messageCode="entity_reference_not_managed" messageCodeAttribute="Goal Status" z="KtzP+F05BKRaymzBrwK2ujdK28w="/>
        <field:select field="friends" id="c_challenges_domain_Challenger_friends" itemValue="id" items="${challengers}" multiple="true" path="/challengers" z="VXlsbLXaPrm7RZ5xudxVq24zC6M="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_challenges_domain_Challenger" render="${not empty dependencies}" z="IeZqo6yWtIsbZFAaAPH8QecKD4c="/>
</div>
