<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:find finderName="ByChallenge" id="ff_challenges_domain_GoalStatus" path="/goalstatuses" z="Qf2WvxAEVboOqoas8TKwiE8EKCE=">
        <field:select disableFormBinding="true" field="challenge" id="f_challenges_domain_GoalStatus_challenge" itemValue="id" items="${challenges}" path="/challenges" required="true" z="Ita9HUVJAVhClbSXIaEWCI9Oruw="/>
    </form:find>
</div>
